#topic{
    text-align: center;
    border: 10px;
    padding: 20px;
    margin: 30px;
    color: aqua;
    background-color: black;
}
#body-structure{
    background-color: burlywood;
}
#paragraph{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: bolder;
    font-style: oblique;
    color: rgb(42, 91, 165);
}
#akanForm{
    display: flex;
    flex-direction: column;
}